body{
    color: deeppink;
    text-align: center;
    font-family: 'Arial';
}

div {
    border-style: groove;
    border-radius: 1cm;
}

#cabecera{
    color: gray;
    background-color: gainsboro;
}
